header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    justify-content: center;
    background-color: gray;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container{
    color: #222;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    max-width: 1000px;
}

.contato{
    align-items: center;
}

.rodape{
    color: #222;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {background-color: #4CAF50;}

ul{
    max-width: 1000px;
}